a2wsgi==1.10.8
aiohttp==3.11.14
aiohttp_jinja2==1.6
aioquic==1.2.0
AppKit==0.2.8
argcomplete==3.6.1
argon2pure==1.3
asgiref==3.8.1
atheris==2.3.0
Babel==2.17.0
Beaker==1.13.0
BeautifulSoup==3.2.2
bokeh==3.7.2
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
cchardet==2.1.7
configobj==5.0.9
ConfigParser==7.2.0
contextlib2==21.6.0
curio==1.6
cx_Oracle==8.3.0
Cython==3.0.12
defcon==0.12.1
defusedexpat==0.4
defusedxml==0.7.1
dl==0.1.0
docutils==0.21.2
dogpile.core==0.4.1
fastpbkdf2==0.2
flake8==7.2.0
fqdn==1.5.1
freetype_py==2.5.1
fs==2.4.16
genapi==0.0.8
gevent==24.11.1
glyphsLib==6.10.1
gmpy==1.17
gmpy2==2.2.1
graphviz==0.20.3
gunicorn==23.0.0
h2==4.2.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.130.5
ini2toml==0.15
ipykernel==6.29.5
ipython==9.0.2
ipywidgets==8.1.5
isoduration==20.11.0
jnius==1.1.0
jsonpointer==3.0.0
keyring==25.6.0
lingua==4.15.0
loop==1.0.0
lz4==4.4.3
mtrand==0.1
munkres==1.1.4
mypy_extensions==1.0.0
numarray==1.5.1
Numeric==24.2
objgraph==3.6.2
olefile==0.47
ordereddict==1.1
outcome==1.3.0.post0
pandas==2.2.3
persistent==6.1.1
pickle5==0.0.12
pip_api==0.0.34
pkg1==0.0.3
pkgutil_resolve_name==1.3.10
pox==0.3.5
psutil==7.0.0
pyenchant==3.2.2
pylama==8.4.1
pyOpenSSL==25.0.0
pyperf==2.9.0
PyQt5==5.15.11
PyQt6==6.8.1
PySide2==5.15.2.1
PySide6==6.8.3
pysqlcipher3==1.2.0
Quartz==0.0.1.dev0
railroad==0.5.0
redis==5.2.1
reportlab==4.3.1
requests_oauthlib==2.0.0
requests_toolbelt==1.0.0
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
scipy==1.15.2
sets==0.3.2
setuptools_scm==8.2.0
shiboken2==5.15.2.1
shiboken6==6.8.3
simplejson==3.20.1
sip==6.10.0
socksio==1.0.0
speedups==1.4.0
Sphinx==8.2.3
sqlcipher3==0.5.4
sympy==1.13.3
thread==2.0.5
tomli_w==1.2.0
tornado==6.4.2
trio_typing==0.10.0
trove_classifiers==2025.3.19.19
Twisted==24.11.0
typed_ast==1.5.5
ufoLib2==0.17.1
uharfbuzz==0.48.0
ujson==5.10.0
unicodedata2==16.0.0
unittest2==1.1.0
uri_template==1.3.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
uwsgi_metrics==1.1.5
watchdog==6.0.0
watchgod==0.8.2
webcolors==24.11.1
wmi==1.5.1
wsproto==1.2.0
xattr==1.1.4
xmlrpclib==1.0.1
xx==3.3.2
yarl==1.18.3
zopfli==0.2.3.post1
zstandard==0.23.0
